<template>
  <div>
    <div>
      <nuxt-link
        v-for="(link,id) in navigation"
        :key="id"
        :to="{ name: link.route }"
      >{{ link.label }}</nuxt-link>
    </div>
    <NuxtPage />
  </div>
</template>

<script setup lang="ts">
const navigation = [
  {
    label: 'Home',
    route: 'index'
  },
  {
    label: 'About',
    route: 'about'
  },
]
</script>