<template>
  <div>
    <div v-for="entity in entities" :key="entity.slug">{{ entity.title }}</div>
  </div>
</template>

<script setup lang="ts">
const props = defineProps<{
  entities: any[]
}>()
</script>

<style scoped>
</style>