<script setup lang="ts">
import { ApiPaginateResponse, Book } from '~/types'
let endpoint = `http://localhost:8000/api/books?perPage=32`
// const { data: mountain } = await useFetch(endpoint, { pick: ['title', 'slug'] })
// const { data: books } = await useFetch(endpoint)
// const api = ref<ApiPaginateResponse<Book>>()

const api = await useAsyncData<ApiPaginateResponse<Book>>('books', () => $fetch(endpoint), {
  lazy: true,
  server: true
}).then(e => e.data.value)

</script>

<template>
  <div>
    <div v-for="book in api.data" :key="book.meta.slug">{{ book.title }}</div>
  </div>
</template>
